<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto.Properties.Settings.Animalandia01ConnectionString"
            connectionString="Data Source=LAPTOP-DM50CU2S\SQLEXPRESS;Initial Catalog=Animalandia01;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>